@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

::selection {
  color: #111111;
  background: #dadada;
}

html, body, input, select, button, div, span, p, ul, li, p, h1, h2, h3, h4, h5, h6, em, strong, a, table, tr, th, td, img, svg {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  color: #000000;
  appearance: none;
  font-size: 1.02em;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  padding: 10px;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  user-select: none;
  margin-bottom: 20px;
  --webkit-user-select: none;
}

h1 {
  font-size: 2em;
}

a, input, textarea, select, button {
  transition: all 0.3s ease;
  background-color: transparent;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  user-select: none;
  --webkit-user-select: none;
}

.site-frame {
  margin: 0 auto;
  max-width: 1500px;
  border-radius: 10px;
  padding-bottom: 20px;
  background-color: #ffffff;
  box-shadow:
    0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(17, 24, 39, 0.05);
}

.container {
  padding: 0 20px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-end {
  justify-content: flex-end;
}

.flex-gap {
  gap: 15px;
}

.flex-grow {
  flex-grow: 1;
}

.flex-inline {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-h-center {
  justify-content: center;
}

.flex-v-center {
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.no-select {
  user-select: none;
  --webkit-user-select: none;
}

.pointer {
  cursor: pointer;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

strong {
  font-weight: 600;
}

.button {
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
  user-select: none;
  padding: 10px 20px;
  border-radius: 10px;
  --webkit-user-select: none;
  background-color: #000000;
}

.button:active {
  background-color: #222222;
}

.input {
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #dadada;
}

.input::placeholder {
  user-select: none;
  --webkit-user-select: none;
}

.input-group input {
  margin-right: 10px;
}

header {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #dadada;
}

.header-menu {
  padding: 10px;
  min-width: 250px;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: 1px solid #dadada;
}

.header-menu:active {
  background-color: #f5f5f5;
}

.header-links {
  padding-left: 10px;
}

.header-links a {
  margin: 0 10px;
  color: #333333;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
}

.header-links a:hover {
  text-decoration: underline;
}

.user-photo {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50em;
}

.user-photo.no-margin {
  margin: 0;
}

.button-group {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.button-group li {
  padding: 8px 15px;
}

.button-group a {
  color: #999999;
  font-weight: 600;
  text-decoration: none;
}

.button-group a:hover {
  color: #000000;
}

.button-group li.active {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.button-group li.active a {
  color: #000000;
  pointer-events: none;
}

.box-container {
  gap: 20px;
  display: grid;
  padding: 10px 0;
}

.box-container-1 {
  grid-template-columns: 1fr;
}

.box-container-2 {
  grid-template-columns: 1fr 1fr;
}

.box-container-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.box-container-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box-inner {
  flex-grow: 1;
  border-radius: 10px;
  border: 1px solid #dadada;
}

.box-header {
  padding: 25px 25px 0 25px;
}

.box-title {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 15px;
}

.data {
  font-size: 2em;
  padding: 0 25px;
  font-weight: 600;
}

.muted {
  color: #999999;
  padding: 0 25px 15px 25px;
}

.content {
  padding: 0 25px 25px 25px;
}

.radio {
  margin: 0;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
}

.radio input {
  width: 0;
  height: 0;
  opacity: 0;
}

.radio-description {
  font-size: 0.9em;
  margin-left: 10px;
}

.radio .slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  background-color: #dadada;
}

.radio .slider:before {
  transition: 0.4s;
  position: absolute;
  background-color: transparent;
}

.radio .slider.round {
  border-radius: 5px;
}

.radio.blue input:checked + .slider {
  background-color: #000000;
}

.radio input:checked + .slider:before {
  content: '\e876';
  font-size: 0.8em;
  color: #ffffff;
  font-family: 'Material Symbols Outlined';
}

.message {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}

.message:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.scroller {
  overflow: auto;
  max-height: 365px;
}

.scroller::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

.scroller::-webkit-scrollbar-track {
  width: 10px;
  border-radius: 5px;
}

.scroller::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
  background-color: #666666;
}

.scroller::-webkit-scrollbar-thumb:window-inactive {
  border-radius: 5px;
  background-color: #666666;
}

footer {
  color: #555555;
  margin: 30px auto;
  text-align: center;
}

.product {
  text-align: center;
  text-decoration: none;
}

.product .image {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px auto;
}

.product .name {
  display: block;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 10px;
}

.product .price {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
}

.badge {
  display: flex;
  font-size: 0.8em;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.badge span {
  font-size: 1.1em;
  margin-right: 10px;
}

.badge.dark {
  color: #ffffff;
  background-color: #222222;
}

.badge.light {
  background-color: #f1f1f1;
}

.badge.disabled {
  color: #666666;
  background-color: #f5f5f5;
}

.heading {
  margin-bottom: 20px;
}

.heading h1 {
  margin-bottom: 0;
}

.spacing {
  height: 20px;
}

.dropdown {
  top: 95px;
  opacity: 0;
  right: 40px;
  z-index: 9999;
  overflow: hidden;
  min-width: 200px;
  position: absolute;
  border-radius: 10px;
  display: inline-block;
  animation: fadeIn 0.5s;
  background-color: #ffffff;
  border: 1px solid #dadada;
  animation-fill-mode: forwards;
  box-shadow:
    0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(17, 24, 39, 0.05);
}

.dropdown a,
.dropdown button {
  margin: 0;
  width: 100%;
  line-height: 1;
  display: block;
  text-align: left;
  border-radius: 0;
  padding: 13px 20px;
  text-decoration: none;
}

.dropdown a:hover,
.dropdown button:hover {
  color: #ffffff;
}

.dropdown a.active,
.dropdown button.active {
  color: #ffffff;
  pointer-events: none;
}

.dropdown a:first-child,
.dropdown button:first-child {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.dropdown a:last-child,
.dropdown button:last-child {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.dropdown hr {
  margin: 0;
  height: 0;
  padding: 0;
  opacity: 0.5;
  border: 1px solid #dadada;
}

.dropdown.gray a {
  color: #111111;
}

.dropdown.gray a:hover,
.dropdown.gray a.active,
.dropdown.gray button:hover,
.dropdown.gray button.active {
  color: #ffffff;
  background-color: #3e4649;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
